.gallery {
    display: inline-block;
    text-align: center;
    width: 85%;
    @include media(960px) {
        width: 95%;
    }
    a:focus {
        outline: none !important;
    }

    .preview-img {
        opacity: 0.9;
        width: 140px;
        transition: all 0.1s ease-out;

        &:hover {
            transform: scale(1,1.1);
            width: 100%;
            height: 100px;
        }
    }

    button[class^="slick-"] {
        border: none;
        border-radius: none;
        position: absolute;
        padding-top: 40px;
        padding-bottom: 40px;
        background-color: transparent;
        font-size: 2em;
        top: 0px;
        cursor: pointer;
        outline: none;
        color: $light-gray;
        display: block;

        &:hover {
            text-shadow: 1px 0px 1px $light-gray;
        }
    }

    .slick-next {
        right: -35px;
    }

    .slick-prev {
        left: -35px;
    }
    .photo {
        @include span-columns(2);
        display: block;
        outline: none;
        opacity: 0.9;

        img {
            width: 100%;
            height: 100px;
        }

        img:hover {
            transform: scale(1.1,1.1);
            width: 100%;
            height: 100px;
        }
    }
}
