.container {
    @include outer-container;
}

.dis {
    display: inherit !important;
    opacity: 1 !important;
}

div[class^="close-"] {
    cursor: pointer;
    float: left;
    color: black;
    display: block;
    overflow: hidden;
    clear: right;
    padding: 50px;
    font-size: 2em;
    font-weight: bold;
    transition: transform 0.2s ease-out;

    &:hover {
        transform: rotate(90deg);
    }
}
.modal-content {
    // color: white !important;
}

.hard {
    background-color: $light-gray;
}
.wide {
    width: 210px;
}
.white {
    color: white;
}
