$black: hsl(0,0%,10%);
$hair: #1E1F21;
$light-black: hsl(0,0%,20%);
$light-gray: hsl(0,0%,75%);

body {
    color: $black;
    background-color: white;
    min-width: 780px;
}

.bold {
    font-weight: bold;
}
